{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Thing

{% endblock %}


{% block content %}

    <h1>{{ team.name }}.</h1>


    <article>

        <header>
            <h3>{{ team.name }}</h3>
        </header>
    </article>

    <article>
        <h3>Players</h3>
        {% for player in players %}
        <p><strong>{{ player.name }}</strong></p>
        {% endfor %}
    </article>

    <article>
        <h3>Website</h3>
        <p><a href="#"> <strong>{{ team.website }}</strong></a></p>
    </article>



    <a role="button" href="/">Back to Home</a>

{% endblock %}

